/* User.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.searchWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputElement {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.articlesTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}

.articlesTable thead {
  background-color: #f7f7f7;
}

.articlesTable th,
.articlesTable td {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.detailsColumn {
  text-align: center;
}

.buttonFullWidth {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.articleDetails {
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
}
/* Grid Layout */
.gridWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gridItem {
  flex: 1 1 calc(33.33% - 20px); /* Three items per row with 20px gap */
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 5px;
}

/* Card Layout */
.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardItem {
  border: 1px solid #eaeaea;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* Article details for card view */
.cardItem .articleDetails {
  margin-top: 15px;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}
