/* User.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputElement {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.articlesTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}

.articlesTable thead {
  background-color: #f7f7f7;
}

.articlesTable th,
.articlesTable td {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.detailsColumn {
  text-align: center;
}

.buttonFullWidth {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.articleDetails {
  padding: 20px;
  background-color: #f9f9f9;
}

.notification {
    background-color: #4CAF50; /* green color for success */
    color: white;
    padding: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.addButton {
    background-color: #008CBA; /* blue color */
}

.approveButton {
    background-color: #4CAF50; /* green color */
    margin-left: 5px;
}

.denyButton {
    background-color: #f44336; /* red color */
    margin-left: 5px;
}

.detailsButton {
    background-color: #9c27b0; /* purple color */
}
